<h1>New inventory</h1>

<%= inventory: @inventory %>
<%= form_with(model: inventory) do |form| %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to inventories", inventories_path %>
</div>
